* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: sans-serif;
}


/* ---- isotope ---- */

.isotope {
  background: #DDD;
  max-width: 1200px;
}

/* clear fix */
.isotope:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .item ---- */

.item {
  float: left;
  width: 100px;
  height: 100px;
  background: #0D8;
  border: 2px solid #333;
  border-color: hsla(0, 0%, 0%, 0.7);
  opacity: 0.7;
}

.item.width2 { width: 200px; }
.item.height2 { height: 200px; }

.stamp {
  position: absolute;
  width: 30%;
  height: 60px;
  background: orange;
  border: 4px dotted black;
}

.stamp1 {
  left: 50%;
  top: 20px;
  width: 30%;
  height: 140px;
}

.stamp2 {
  right: 5%;
  top: 60px;
  width: 60%;
  height: 60px;
}

button { font-size: 20px; }