.slider .slides .type_1 img{
    width:660px !important;
}
.slider .slides .type_2 img, .slider .slides .type_3 img{
    width:310px !important;
    height:186px !important;
}
/* grid setting*/
#title-new, #content-new, #title-favorite, #content-favorite{
    display: none;
}
/* brands briefly introduce Grid */

/* brands horizontal intro */
.brands .post_type_5 .feature {
border: 1px solid #e6ecec;
padding: 3px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
width:231px !important;
overflow: hidden;
}
.block_posts .post_type_5 .content {
padding-top:3px;
}
.brands .content .info .avatar2 {
/*width: 75px;*/
width:20%;
}
.brands .content .info .avatar2 img {
width: 100%;
height: auto;
display: block;
float: left;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.brands .post_type_5 .content .info .brand-info {
float: left;
width: 80%;
}
.brands .post_type_5 .content .info .tags {
width: 100%;
}
.block_posts .post_type_5 .title {
margin-top: 5px;
}
.block_posts .post_type_5 .content {
max-height:207px;
text-overflow:clip;
}
.block_posts .post_type_5 .text {
padding-top: 5px;
}
.intro-filter a.random {
cursor: default;
background-color: rgb(85, 85, 85);
}
.intro-filter a.random:hover{
background-color: rgb(85, 85, 85) !important;
}
.brand-filter{
    position: relative;
}
.searchBar{
width:350px;
height:auto;
border: 1px solid #e6ecec;
padding: 3px;
position:absolute;
top:35px;
right:0px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.searchCategory{
width:350px;
height:auto;
border: 1px solid #e6ecec;
padding: 3px;
position:absolute;
top:59px;
right:0px;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.searchBar a, .searchCategory a{
float: left;
margin:1px;
}
.searchBar a.d-color, .searchCategory a.d-color{
background-color:#6E86B1;
}
.sidebar aside .sidebar_title_1 {
height: auto !important;
font-family: 'Open Sans', Helvetica, 'PT Sans', Arial, sans-serif, 'Patua One';
font-weight: bold;
line-height: 22px;
padding-top: 5px;
margin-bottom: 5px;
}
.sidebar .image img {
width: 100%;
}
.sidebar_title_1 .event{
color: #969696;
}
.sidebar_title_1 .event:hover{
    text-decoration: none;
    color:#000;
}
/* brands horizontal intro */