.block_about_author{
    position: relative;
}
.block_about_author .content {
word-break:break-all;
}
.block_general_title_2 h1 {
padding-left: 15%;
padding-right: 15%;
font-size: 20px;
vertical-align: center;
}
.block_about_author .name{
margin-bottom: 10px;
}
.block_about_author .name a{
color: #33cccd;
font-size: 14px;
font-weight: bold;
}
.block_about_author .name a:hover{color:#808080; text-decoration:none;}


.block_general_title_2 .stats .comments {
background: none !important;
margin-left: 10px;
padding-left: 0 !important;
}
.block_general_title_2 .stats .comments i {
margin-right: 3px;
}


.star-rating{
width:90px;
position: relative;
display: inline-block;
}
.comment .star-rating{
    margin-left:5px;
}
.star-rating2{
    position: absolute;
    width:90px;
    left: 0px;
top: 0px;
}
.rating-star {
  unicode-bidi: bidi-override;
  direction: rtl;
  font-size: 15px;
}
.rating-star span.star{
font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  /*display: inline-block;*/
  padding-right: 4px;
}
.rating-star.color span.star:before {
  content: "\f005";
  color: #e3cf7a;
}
.rating-star.nocolor span.star:before {
  content: "\f006";
  color: #999999;
}


.rating-div{
padding:20px;
text-align: center;
}

.rating-num{float: left; font-size: 13px;color: #969696; margin:2px 0px 0px 3px; }
.rating-num2{font-size: 13px;color: #000; margin:5px 0px 0px 0px; }

/* product description */
.part {
line-height: 40px;
font-family: 'Open Sans', Helvetica, Arial, sans-serif;
font-size: 25px;
font-weight: 600;
}
.part span{
font-size: 20px;
font-weight: normal;
}

.p-info li {
clear:both;
}
.block_info_1{
    padding-top:20px;
    padding-bottom: 0px;
    background:none !important;
}
.block_info_1 .tags.height-auto{
    margin-bottom: 20px;
}
/*.p-info{
    margin-top: 20px;
    margin-bottom: 10px;
}*/
.block_tabs_type_1{
    margin:20px 0px 20px 0px;
}
.p-info ul{
    padding: 5px 0px 5px 0px;
}
.p-info li{
    margin-left:10px;
    width:30%;
    overflow:hidden;
    text-align: left;
    float:left;
    font-size: 13px;
    font-weight: bold;
}
.p-info span{
    display:block;
    text-align: left;
    width:60%;
    float:right;
    padding-top: 5px;
    font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}
/*.block_about_author_post .stats li {
height: 21px;
line-height: 21px;
margin-left: 4px;
margin-bottom: 0px;
padding: 0px 4px;
float: left;
display: block;
border: 2px solid #dbe6e6;
-webkit-border-radius: 2px;
-moz-border-radius: 2px;
border-radius: 2px;
font-family: 'Montserrat', Helvetica, Arial, sans-serif;
font-size: 10px;
color: #afbaba;
text-transform: uppercase;
}*/
.height65{
    height:65px !important;
}
.block_also_like_1 .flex-direction-nav a{
    top:-45px !important;
}

/* Similar product slider */
/*.post_type_4 .title {
margin-top: 3px;
max-width: 70%;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
float: left;
min-height: 0px !important;
}*/
.post_type_4 .title a {
font-size: 13px;
color: #424242;
font-weight: normal;
}
.post_type_4 .price {
margin-top: 3px;
max-width: 30%;
float: right;
font-size: 15px;
font-weight: bold;
line-height: 21px;
}
.post_type_4 .info {
padding: 3px 0px 6px !important;
overflow: hidden;
}
.post_type_4 .info .tags {
max-width: 50%;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
}
.post_type_4 .info i {
margin-right: 3px;
}
/* Similar product slider */

/* comments */
.block_comments_1 .content .author{
display:inline-block;
}
.block_comments_1 .content .type{
position:relative; display:inline-block; margin-left:7px;
}
.block_comments_1 .content .edit, .block_comments_1 .content .agree, .block_comments_1 .content .disagree{
display: inline-block;margin-right: 10px;float:right;
}
.block_comments_1 .content .delete{
display: inline-block;margin-right: 5px;float:right;
}
.block_comments_1 .content i{
font-size: 14px;
}
.block_comments_1 .content .delete i:hover, .block_comments_1 .content .edit i:hover, .block_comments_1 .content .agree i:hover, .block_comments_1 .content .disagree i:hover{
opacity: 0.5;
}
.block_comments_1 .content .type i{
position:absolute; top:-12px;
}
.block_comments_1 .field {
height: 30px;
padding: 0px 10px;
overflow: hidden;
border: 1px solid #dedede;
}
.block_comments_1 .field input {
width: 100%;
height: 18px;
line-height: 18px;
padding: 5px 0px;
display: block;
background-color: transparent;
border: 0px;
font-family: 'Open Sans', Helvetica, Arial, sans-serif;
font-size: 13px;
color: #424242;
}
.block_comments_1 .field.focused {border-color:#b1e0e0;}
.block_comments_1 .comment .general_colored_button{
height:32px;
line-height: 32px;
padding: 0px 5px;
display: inline-block;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
font-size: 11px;
display:block;
    float:right;
}
.reply .content .author{
    width:100%; margin-bottom:8px;
}
.reply .content .field{
width:80%;
float:left;
}
.comments .content a:hover{
cursor:pointer;
}
.block_comments_1 .comments{
    margin-bottom:50px;
}
#content {
padding-top: 25px;
}
.block_leave_comment_1 {
padding-top: 55px;
}
.evalSel1{width:40%; float:left;}
.evalSel2{width:40%; display:none; float:left;}
.evalSel1 select{
    padding:5px;
    width:90%;
    border: 1px solid #dedede;
    font-family: 'FontAwesome', "Helvetica Neue", Helvetica, 'PT Sans', Arial, sans-serif;
font-size: 14px;
color: #666666;
}
.evalSel2 select{
    padding:5px;
    width:60%;
    border: 1px solid #dedede;
    font-family: 'FontAwesome', "Helvetica Neue", Helvetica, 'PT Sans', Arial, sans-serif;
font-size: 14px;
color: #666666;
}
.block_leave_comment_1 .fields.product{
    width:100%;
}
.market a{
    cursor:pointer;
}
/* comments */
/*sidebar*/
.sidebar .market{}
.sidebar .market .price{
    font-size: 25px;
    font-weight: 700;
    margin:20px 0px 20px;
}
.sidebar .market .price a{
    text-decoration: none;
    margin-left:5px;
    color: #53b7f9;
}
.sidebar .market .price i{
    font-size: 22px;
}
.sidebar .market .price a:hover{
cursor:pointer;
opacity: 0.5;
}
.brand-name{
    font-size: 15px;
}
.product-option{
font-family: 'Open Sans', Helvetica, 'PT Sans', Arial, sans-serif;
padding:10px;
height:auto;
border:1px solid #ddd;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.product-option .label{
    font-weight: bold;
    font-size:13px;
    margin-top: 5px;
}
.product-option select{
    margin:5px 0px 5px 0px;
    width:100%;
    padding:3px;
    border:1px solid #dedede;
}
.product-option input{
    margin:5px 0px 5px 0px;
    width:96%;
    padding:3px 7px 3px 3px;
    border:1px solid #dedede;
}
.cartBtn{
    width:100% !important;
    margin-top: 10px;
}
.userBtn{
    width:100% !important;
    display: inline-block;
}
.cartBtn a.cart{
    width:100%;
    padding: 0;
    font-size: 13px;
}
.userBtn a.like, .userBtn a.collect{
    margin-top: 10px;
    width:60%;
    padding: 0;
    height:25px;
    line-height:25px;
    background-color: #e5e5e5;
    color: #212121;
    border:2px solid #dedede;
}
.userBtn a.like:hover, .userBtn a.collect:hover{
color:#fff;
}
.userBtn div{
    float: left;
    width:50%;
    padding:0;
    margin:0;
    font-family: 'Open Sans', Helvetica, 'PT Sans', Arial, sans-serif;
}
.brand-other{
    width:48%;
    padding:0px !important;
    margin:2px;
}
.brand-other .feature{
position:relative;
width:100%;
padding: 0px;
}
.brand-other .content{
    display: none;
    width:100%;
    position:absolute;
    padding: 0px;
    top:0;
    left:0;
    height:100%;
    background-color: rgba(40,40,40,0.7);
    color:#fff !important;
    opacity: 0;
}
.brand-other:hover .content{
 -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -ms-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
     opacity: 1;
     display: block;

}
.brand-other img{
width:100%;
}
.brand-other .image a {
display: block;
overflow: hidden;
position: relative;
}
.brand-other a:hover{
    text-decoration: none;
}
.brand-other .image a img,  .brand-other .image a span{
-webkit-transition: all .3s;
-moz-transition: all .3s;
-ms-transition: all .3s;
transition: all .3s;
}
.brand-other .image a img {
width: 100%;
height: auto;
display: block;
}

.brand-other .image a span.hover {
background-color: rgba(31, 31, 31, 0.6);
background-repeat: no-repeat;
background-position: center center;
opacity: 0;
}
.brand-other .image a span.hover.no_icon {
background-image: none;
}
.brand-other .title{
    width:100% !important;
    max-width: 100% !important;
    color: #fff;
}
.brand-other.product .title a{
    color: #fff !important;
}
.brand-other .price{
    max-width: 100% !important;
    width:100%;
}
.brand-other .content .info .likes, .brand-other .content .info .comments{color:#fff;}
.brand-other .image a span {display:block; position:absolute; left:0px; right:0px; top:0px; bottom:0px;}
.brand-other .image a span.hover {background-color:rgba(31, 31, 31, 0.22); background-repeat:no-repeat; background-position:center center; background-image:url(../layout/images/icon_zoom_2.png); opacity:0;}
.brand-other .image a span.hover.no_icon {background-image:none;}
.brand-other .image a:hover img {
    -webkit-transform:scale(1.06);
    -moz-transform:scale(1.06);
    -ms-transform:scale(1.06);
    transform:scale(1.06);
}
.brand-other .image a:hover .hover {opacity:1;}
/* celebs display */
.celebs .title {
height: 38px;
line-height: 38px;
margin-bottom: 20px;
padding-bottom: 3px;
/*border-top: 2px solid #161e26;*/
font-family: 'Patua One', Helvetica, Arial, sans-serif;
font-size: 15px;
color: #191919;
text-transform: uppercase;
text-align: center;
}
div.celebs{
    margin-top:30px;
    width:100%;
    height:auto;
}
.celebs .am-container{
    width:100%;
    height:auto;
    float:left;
}
.celebs a.loadmore {
padding: 0px 7px;
height: 25px;
line-height: 25px;
}
.other-item{
    width:100%;
}
.celeb-brand .image img{
    width:100%;
}
.celeb-brand .info .likes, .celeb-brand .info .comments{
padding-left: 0px;
margin-right: 5px;
float: left;
font-size: 12px;
color: #969696;
line-height: normal;
}
.celeb-brand .info .likes i, .celeb-brand .info .comments i{
margin-right: 3px;
}

.block_sidebar_latest_comments .comment-info {
padding-bottom: 9px;
font-family: 'Open Sans', Helvetica, Arial, sans-serif;
font-size: 12px;
color: #919191;
margin-top: 5px;
}
.block_sidebar_latest_comments .comment-info span.agree, .block_sidebar_latest_comments .comment-info span.disagree{
    float:right;
    margin-left: 5px;
}
.block_sidebar_latest_comments .comment-info span i{
margin-right: 3px;
/*color:#666666;*/
}
