.fancybox-type-iframe .fancybox-nav {
    width: 60px;
}

.fancybox-type-iframe .fancybox-nav span {
    visibility: visible;
    opacity: 0.5;
}

.fancybox-type-iframe .fancybox-nav:hover span {
    opacity: 1;
}

.fancybox-type-iframe .fancybox-next {
    right: -60px;
}

.fancybox-type-iframe .fancybox-prev {
    left: -60px;
}
.fancybox-title iframe {
    min-height: 30px;
    vertical-align: middle;
}
.expander {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 16px;
    height: 16px;
    padding: 4px;
    background: white url(https://github.com/openxe/django-ace/diff_blob/1993c731626a44139b97d2d9fca8f4f4023f107a/django_ace/static/django_ace/img/expand.png?raw=true) center center no-repeat;
    z-index: 99999;
    cursor: pointer;
}
.fancybox-inner .product .user-action{
    z-index: 99999;
    opacity: 1;
}
.fancybox-inner .product .cart{
    z-index: 99999;
    opacity: 1;
}
.fancybox-title .social {
padding-top: 5px;
overflow: hidden;
margin-bottom: 5px;
}
.fancybox-title .social li:first-child {
margin-left: 0px;
}
.fancybox-title .social li {
margin-left: 3px;
float: left;
display: block;
}
.fancybox-title .product .info .stats {
float: right;
}