.block_general_title_1.w_margin_1{padding-top: 0px !important;}

/* posting grid setting */
.block_posts.type_1 .posts article {
width: 239px !important;
margin-left: 8px;
margin-bottom: 15px;
float: left;
}
.block_posts.type_1 .posts {
margin-left: -8px;
margin-bottom: -15px;
overflow: hidden;
}
/* brand-user information also has briefInfo.css */
/*.block_about_author_post {
margin: 25px 0px 0px;
position: relative;
}
.block_about_author_post .name {
float: left;
}
.block_about_author_post .stats{
float:right;
}*/
/* brand-user information also has briefInfo.css */






