.product .image a span.overay2 {
color:#fff;
display: block;
position: absolute;
width:100%;
top:45%;
text-align: center;
font-size: 24px;
text-transform: uppercase;
}

.product .image a span.hover {
background-color: rgba(150, 150, 150, 0.3) !important;
opacity: 0 !important;
}
.product .image a:hover .hover {
background-color: rgba(150, 150, 150, 0.3) !important;
opacity: 1 !important;
}
.product .image a:hover .overay2.hover {background-color:rgba(255, 255, 255, 0) !important; }

.product .feature:hover .review {
opacity: 0.8 !important;
}
.slider .product .feature:hover .review {
opacity: 0.8 !important;
z-index: 6;
}
.product .review {
width: 39px;
position: absolute;
left: 3px;
bottom: 3px;
text-align: center;
opacity: 0;
height: 22px !important;
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
background-color: none !important;
}
.product .review:hover {
width: auto !important;
}
.product .value {
width: 68px;
height: 12px;
float: left;
position: relative;
background: url(../layout/images/sprite_stars_1.png) no-repeat;
margin-top: 5px;
margin-left: 3px;
display: inline-block;
}
.product .value div {
width: 0px;
height: 12px;
position: absolute;
left: 0px;
top: 0px;
background: url(../layout/images/sprite_stars_1.png) no-repeat 0px bottom !important;
}
.product .review:hover .review-num{
    opacity:1;
    display:inline-block;
    background-color: #33cccd;
}
.product .review-num {
opacity: 0;
color: #fff;
padding: 4px 4px 2px 4px;
display: none;
font-size: 12px;
float: left;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
margin-left: 3px;
margin-top: 3px;
}
/* overay user interface */
.product .user-action{
position: absolute;
right: 3px;
top: 3px;
opacity: 0;
}
.product .cart{
position: absolute;
right: 3px;
bottom: 3px;
opacity: 0;
}
.product .feature:hover .user-action, .product .feature:hover .cart{opacity:1;}
.slider .product .feature:hover .user-action, .slider .product .feature:hover .cart{opacity:1; z-index: 6;}
.user-action a{
height: 27px;
line-height: 27px;
padding: 0px 10px;
display: block;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
font-size: 10px;
margin-bottom: 2px;
}
.cart a{
height: 27px;
line-height: 27px;
padding: 0px 10px;
display: block;
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
font-size: 10px;
}
.product .title{
/*font-size: 15px;*/
color: #424242;
font-weight: bold;
line-height: 21px;
margin-top:3px;
max-width: 70%;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
float:left;
}
.product .title a {
font-size: 13px !important;
color: #424242;
font-weight: normal !important;
}
.product .title a:hover {
text-decoration: none !important;
color: #aaa !important;
}
.product .price{
margin-top:3px;
max-width: 30%;
float:right;
font-size: 15px;
font-weight: bold;
line-height: 21px;
}
.product .info {
padding: 3px 0px 6px !important;
overflow: hidden !important;
}
.product .info i{
    margin-right: 3px !important;
}
.product .info .tags {
max-width: 50%;
text-overflow: ellipsis;
overflow: hidden;
white-space: nowrap;
padding-top: 1px;
float: left;
font-size: 11px;
color: #808080;
line-height: normal;
}
.product .info .tags a {
font-size: 12px !important;
}
.product .info .tags a:hover {text-decoration:none;}
.product .stats.show-stat {
opacity: 1 !important;
max-width: 100%;
}
.product .info .likes {
padding-left: 15px;
float: left;
background: none !important;
font-size: 12px;
color: #969696;
line-height: normal;
}
.product .info .comments {
margin-left: 10px;
padding-left: 0 !important;
float: left;
/*background: url(images/icon_comments_1.png) no-repeat 0px 3px;*/
background: none !important;
font-size: 12px;
color: #969696;
line-height: normal;
}
/* display intro grid */
#content-new, #content-hot, #content-celebs{
    display: none;
}
/* display intro grid */